/* COLORES */
/* TIPOS DE LETRAS */
a {
  font-family: "Square Peg", cursive;
  font-weight: bold;
  font-size: 2rem;
  color: #520556; }

.navegacion__color {
  background-color: #CA431D; }

.nav-item {
  color: #520556; }

.dropdown-item {
  background-color: #520556;
  color: white; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #520556;
  height: 200px;
  color: white; }
  footer__imagenes {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem; }
  footer__derechos {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-top: 3rem; }

.boton {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: white;
  background-color: #700475;
  border-radius: 15px;
  font-size: 15px;
  width: 10rem;
  margin-bottom: 2rem; }
  .boton:hover {
    transform: translate(0px, 0px) scale(1.1, 1.1);
    transition: all 1s; }

@media (min-width: 320px) and (max-width: 540px) {
  header {
    flex-direction: column; }
  ul {
    flex-direction: column; }
  section {
    flex-direction: column; }
  .presentacion__imagen {
    width: 250px; }
  .nosotras__imagen {
    width: 200px; } }

@media (min-width: 541px) and (max-width: 720px) {
  header {
    flex-direction: column; }
  ul {
    flex-direction: column; }
  section {
    flex-direction: column; }
  .presentacion__imagen {
    width: 250px; }
  .nosotras__imagen {
    width: 250px; } }

.presentacion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center; }
  .presentacion__titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #520556;
    text-align: center;
    margin-top: 20px; }
  .presentacion__subtitulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Square Peg", cursive;
    font-size: 40px;
    color: #CA431D;
    padding: 40px; }
  .presentacion__imagen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    border-radius: 100px;
    padding-left: 20px; }

.desarrollo {
  background-color: rgba(194, 115, 42, 0.795);
  padding: 20px;
  margin-bottom: 0; }
  .desarrollo__titulos {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #520556; }
  .desarrollo__parrafos {
    font-family: "Square Peg", cursive;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px; }

.nosotras {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
  margin: 20px; }
  .nosotras__titulo {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #700475;
    margin-top: 50px; }
  .nosotras__parrafo {
    font-family: "Square Peg", cursive;
    font-size: 30px;
    font-weight: bold;
    color: #CA431D;
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px; }
  .nosotras__imagen {
    border-radius: 30px; }

.main__formulario {
  background-image: url("../recursos/Nueces.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

form {
  width: 450px;
  margin: auto;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 20px; }
  form .main__titulo {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #700475;
    margin-top: 50px;
    font-weight: 900;
    font-size: 30px; }
  form input, form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px; }
  form textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%; }
  form #boton {
    background-color: #700475;
    color: white;
    padding: 10px; }

.main__whatsapp {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Square Peg", cursive;
  font-size: 40px;
  font-weight: 900;
  background-color: white;
  color: #CA431D;
  padding: 30px; }

@media (min-width: 320px) and (max-width: 540px) {
  form {
    width: 100%; } }

.productos__titulo {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #700475;
  margin-top: 50px; }

.container__productos {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  color: #700475;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem; }

.promociones__titulo {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #700475;
  margin-top: 50px; }

.container__promociones {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  color: #520556;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem; }

* {
  margin: 0;
  padding: 0; }

main {
  background-color: white; }
