.nosotras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: $color-main;
    margin: 20px;
    &__titulo{
        @include titulos;
    }
    &__parrafo{
        font-family: $font-subtitulos;
        font-size: 30px;
        font-weight: bold;
        color: $color-navegacion;
        margin-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
    &__imagen{
        border-radius: 30px;
    }
}