/* COLORES */
$color-navegacion: #CA431D;
$color-botones: #700475;
$color-footer: #520556;
$color-main: white;
$color-formulario: black;
$color-main2: rgba(194, 115, 42, 0.795);

/* TIPOS DE LETRAS */
$font-titulos: 'Poppins', sans-serif;
$font-subtitulos: 'Square Peg', cursive;