@import 'variables';
@import 'mixin';
@import 'header';
@import 'footer';
@import 'botones';
@import 'mediaqueries';
@import 'presentacion';
@import 'nosotras';
@import 'contacto';
@import 'productos';
@import 'promociones';


* {
    margin: 0;
    padding: 0;
}

main {
    background-color: $color-main;
}


