@import 'variables';
@import 'header';
@import 'footer';
@import 'botones';
@import 'mediaqueries';
* {
    margin: 0;
    padding: 0;
}

main {
    background-color: $color-main;
}


/* INDEX */

.presentacion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $color-main;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    &__titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: $font-titulos;
        font-size: 60px;
        font-weight: bold;
        color: $color-footer;
        text-align: center;
        margin-top: 20px;
    }
    &__subtitulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: $font-subtitulos;
        font-size: 40px;
        color: $color-navegacion;
        padding: 40px;
    }
    &__imagen {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
        border-radius: 100px;
        padding-left: 20px;
    }   
}



/* PAGINA PRODUCTOS */

.productos{
    display: flex;
    flex-wrap: wrap;
    font-family: $font-titulos;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color:$color-botones;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: space-evenly;
    
}


/* PAGINA PROMOCIONES  */

.container {
    font-family: $font-titulos;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color:$color-footer;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* PAGINA NOSOTRAS */

.nosotras{
    text-align: center;
    background-color: $color-main;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    &__titulo{
        font-family: $font-titulos;
        font-size: 50px;
        font-weight: bold;
        color: $color-footer;
        margin-top: 50px;
        animation-duration: 5s;
        animation-name: animacion_titulo;
        animation-iteration-count: infinite;
    }
    &__parrafo{
        font-family: $font-subtitulos;
        font-size: 30px;
        font-weight: bold;
        color: $color-navegacion;
        margin-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
    &__imagen{
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 20px;
    }
}

/* PAGINA CONTACTO */


.main__formulario{
    display: flex;
    flex-direction: column;
    font-family: $font-titulos;
    text-align: center;
    background-color:$color-main;
    border-color: $color-navegacion;
    border-style:double;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding-bottom: 30px;
}

.main__titulo{
    font-size: 40px;
    font-weight: bold;
    color: $color-footer;
    padding: 10px;
    margin: 30px;
}

.main__formularioNombre{
    font-family: $font-titulos;
    color: $color-formulario;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 15px;
    padding-right: 30px;
    padding-top: 10px;
    width: 300px;
}

.main__formularioApellido{
    font-family: $font-titulos;
    color:$color-formulario;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 15px;
    padding-right: 30px;
    padding-top: 10px;
    width: 300px;
}

.main__formularioEmail{
    font-family: $font-titulos;
    color: $color-formulario;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 15px;
    padding-right: 30px;
    padding-top: 5px;
    width: 300px;
}

.main__formularioMensaje{
    font-family: $font-titulos;
    color:$color-formulario;
    font-size: 20px;
    font-weight: 900;
    text-align: left;
    margin-bottom: 15px;
    padding-right: 30px;
    padding-bottom: 120px;
    width: 300px;
}

.main__formilarioEnviar{
    font-family: $font-titulos;
    font-size: 20px;
    color: $color-main;
    background-color: $color-botones;
    text-align: center;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 15px;
}

.main__whatsapp{
    font-family: $font-subtitulos;
    font-size: 40px;
    color:$color-navegacion;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}